{% extends 'base.html'  %}
{% block content %}

	<html>
		<head>
			<title>Login</title>
		</head>
		<body>
			<div class="container">
			{% if email %}
				<h1>Welcome {{ email }}</h1>
			{% else %}
				<h1>Login</h1>
				<br/>
				<form method="POST">
					{{ form.hidden_tag() }}
					{{ form.email.label }}
					<br/>
					{{ form.email() }}
					<br/>
					{{ form.password.label }}
					<br/>
					{{ form.password(size=30) }}
					{% for error in form.password.errors %}
        				<li>{{ error }}</li>
    				{% endfor %}
					<br/>
					{{ form.submit }}
				</form>
			{% endif %}
			</div>
		</body>
	</html>

{% endblock %}